body {
  margin: 0;
  width: 100%;
  flex-direction: column;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  width: 100%; /* Ocupar todo el ancho de la pantalla */
  bottom: 0; /* Fijar el footer en la parte inferior */
}

.containerfooter {
  width: 80%;
  margin: 0 auto; /* Centrar horizontalmente */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  text-align: center;
  margin: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  margin-left: 20px;
}

.footer-links li:first-child {
  margin-left: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  color:rgb(253, 252, 209);
    }
