body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #f4f4f4;

}

.title{
    display: flex;
    align-items: center;
}

.contenidoBandeja{
    width: 100%;
    padding: 20px;
    box-sizing: border-box

}


table {
    width: 90%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
}

td{
    align-content: center;
}
