body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    margin-top: 0px;
}

/* Estilos para el módulo de padres de familia */
.parent-module {
    background-color: rgb(181, 216, 223);
}

/* Estilos para el módulo de secretaría */
.secretary-module {
    background-color: rgba(250, 149, 149, 0.897);
}

/* Estilos para el módulo de secretaría */
.profesiona-module {
    background-color: rgba(181, 253, 187, 0.897);
}

/* Estilos para las secciones izquierdas */
.left-section {
    flex: 1;
    padding: 100px;
}

/* Estilos para las secciones derechas */
.right-section {
    flex: 1;
    padding: 20px;
}

/* Estilos para las imágenes */
.right-section img {
    width: 70%;
    height: auto;
    margin-top: 40px;
    min-width: 70%;
}

img{
    border-radius: 10%;
}

.button {
    background-color: rgb(129, 204, 219);
    border-radius: 8px;
    height: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: 0;
    width: 90px;
    height: 35px;
}


.button:hover {
    background-color: rgba(250, 149, 149, 0.897);
    color: black;
}


.button2 {
    background-color: rgba(204, 120, 120, 0.897);
    border-radius: 8px;
    height: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: 0;
    width: 90px;
    height: 35px;
}

.button2:hover {
    background-color: rgb(181, 216, 223);
    color: black;
}

.button3 {
    background-color: rgba(102, 170, 108, 0.897);
    border-radius: 8px;
    height: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: 0;
    width: 90px;
    height: 35px;
}

.button3:hover {
    background-color: rgba(250, 149, 149, 0.897);
    color: black;
}


